## Visual Studio / .NET Core / VS Code Build Outputs
bin/
obj/
_ReSharper*/
[Dd]ebug/
[Rr]elease/

## Local App Settings & User Secrets
appsettings.Development.json
.vscode/

# Database files (Uncomment if you want to keep your local DB off GitHub)
*.db
*.sqlite

## Operating System Junk
.DS_Store
Thumbs.db